@import url('https://fonts.googleapis.com/css?family=Gamja+Flower|Gloria+Hallelujah|Gugi');
/*
font-family: 'Gugi', cursive;
font-family: 'Gamja Flower', cursive;
font-family: 'Gloria Hallelujah', cursive;
*/
 *{
     margin: 0;
     padding: 0;
     font-family: 'Gloria Hallelujah', cursive;
 }

 header{
     background: url('../img/header-background.jpg') no-repeat center center;
     background: cover;
     height: 100vh;
     background-attachment: fixed;
 }

 .contact{
     background: black;
     color: white;
     height: 5vh;
     width: 100%;
     margin: 0 auto;
 }

 .email{
     padding-left: 3vw; 
 }

.email p{
    font-family: 'Gamja Flower', cursive;
    font-size: 1.2rem;
 }

 .email i, p{
     display: inline;
     line-height: 5vh;
 }

 .email i:hover, .email p:hover{
    font-size: 1.3rem;
    color: orangered; 
 }

 .social-icon ul{
     display: flex;
     justify-content: space-around;
     line-height: 5vh;
 }

 .social-icon ul li{
     list-style-type: none;
     display: inline;
}

 .social-icon ul li a{
     text-decoration: none;
     color: white;
 }

 .social-icon ul li a:hover{
    color: orangered;
    font-size: 1.3rem;
}

 .menu{
     margin: 0 auto;
    height: 10vh;
    background: rgb(248, 101, 48);
    color: white;
    line-height: 10vh;
    width: 100%;
 }

 .logo{
     font-family: 'Gamja Flower', cursive;
     font-size: 2rem;
     font-weight: 700;
     text-align: center;
 }

 .navigation-menu ul{
    display: flex;
    justify-content: space-around;
    font-family: 'Gloria Hallelujah', cursive;
}

.navigation-menu ul li{
    list-style-type: none;
    display: inline;
}

.navigation-menu ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.2rem;
}

.navigation-menu ul li a:hover{
    text-shadow: 5px 5px 5px black;
    font-size: 1.5rem;
}

.head-text{
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    height: 85vh;
    margin-top: 20vh;

}

.head-text h2{
    font-size: 4rem;
    color: orangered;
    text-shadow: 5px 5px 5px black;
}

.head-text h3{
    font-size: 2rem;
    margin: 3% auto;
    text-shadow: 3px 3px 3px black;
}

.head-text input{
    padding: 1% 3%;
    background: red;
    color: white;
    border-radius: 10%;
    font-size: 1.2rem;
    
}

.button:hover{
    box-shadow: 5px 5px 5px black;
    background: orangered;
}

.quote-container{
    width: 60%;
    margin: 3% auto;
    
}

.Quote{
    font-size: 2.2rem;
    font-family: 'Gloria Hallelujah', cursive;
}

.quote-by{
    font-size: 1.3rem;
    color: grey;
    display: block;
    text-align: right;
    font-family: 'Gloria Hallelujah', cursive;
}

.dash{
    font-size: 1.5rem;
}

.about-text{
    margin-top: 3vh;
    position: relative;
}

.about-text p{
    font-family: 'Gamja Flower', cursive;
    font-size: 1.7rem;
    line-height: 3vh;
    letter-spacing: 0.1vw;
}

#about-me{
    width: 80%;
    margin: 0 auto;
}

.a-button{
    padding: 2%;
    text-decoration: none;
    background: red;
    color: white;
    position: absolute;
    right: 2vw;
    border-radius: 10%;
    font-size: 1.2rem;
    
}

.a-button:hover{
    text-decoration: none;
    background: orangered;
    color: white;
    box-shadow: 5px 5px 5px black;
}

.about-h2{
    width: 80%;
    margin: 0 auto;
    color: orangered;
    margin-bottom: 2%;
}